
<h1>{{ title2 }}</h1>

<table>
  <tr>
    <td>Examination_number</td>
    <td>Examination_Date_Time</td>
    <td>Examination_Details</td>
    <td>Doctor_Doctor_ID</td>
    <td>Patient_Patient_ID</td>
  </tr>
  {{#each Examination}}
  <tr>
    <td>{{Examination_number}}</td>
    <td>{{Examination_Date_Time}}</td>
    <td>{{Examination_Details}}</td>
    <td>{{Doctor_Doctor_ID}}</td>
    <td>{{Patient_Patient_ID}}</td>
  </tr>
  {{/each}}
</table>

