<h1>{{main_title}}</h1>
<table>
    <tr>
        <td>Nurse_ID</td>
        <td>Password</td>
        <td>Name</td>
        <td>Address</td>
        <td>Phone_number</td>
        <td>Medical_Specialty_Department_ID</td>
    </tr>
    {{#each Nurse_res}}
    <form method="post">
        <tr>
            <td>{{Nurse_ID}}</td>
            <td style="display: none"><input type="text" name="Nurse_ID" value={{Nurse_ID}}></td> 
            <td><input type="text" name="Password" value="{{Password}}"></td> 
            <td><input type="text" name="Name" value="{{Name}}"></td> 
            <td><input type="text" name="Address" value={{Address}}></td> 
            <td><input type="text" name="Phone_number" value={{Phone_number}}></td> 
            <td><input type="text" name="Medical_Specialty_Department_ID" value="{{Medical_Specialty_Department_ID}}"></td>
            <td><input type="submit" value="Modify" formaction="/admin/updateNurse"></td>
        </tr>
    </form>
    {{/each}}
</table>

